.text_ivory{
  color: var(--ivory);
}

.dark_red{
  background-color: var(--dark_red);
}

.cool_grey {
  background-color: var(--cool_grey);
}

.red{
  background-color: var(--red);
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--dark_red) !important;
    color: white;
}

.btn-open, .btn-open:hover, .btn-open:active, .btn-open:visited {
    background-color: green;
    color: white;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: grey;
    color: white;
}

.btn-outline-secondary {
    background-color: var(--dark_red) !important;
    color: white;
}

.dropdown-menu dropdown-menu-end{
  background-color: var(--dark_red) !important;
  color: white;
}

div.btn{
  background-color: var(--cool_grey);
}

.rounded-left{
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}


.new_chat{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.image_chat {
  width:300px;
  height:300px;
  object-fit: cover;
}

.style-15::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #f0f0e0;

}

.style-15::-webkit-scrollbar{
	width: 10px;
	background-color: var(--scallop_seashell);
}

.style-15::-webkit-scrollbar-thumb{
  border-radius: 10px;
	background-color: var(--brown);
	background-image: -webkit-linear-gradient(90deg, rgba(38, 36, 35, 1) 0%,
											  rgba(38, 36, 35, 1) 0%,
											  transparent 100%,
											  rgba(109, 99, 97, 1) 100%,
											  transparent )
}

/* MODAL STUFF */

.modal{
  padding-top: 11rem; /* Location of the box */
}

.modal-image {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Add Animation */
.modal-content-image, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.marginless{
  margin: 0;
}

.th-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sort-indicator {
  font-size: 0.8em;
}

.sort-indicator {
  color: #5b5b5b;
  font-size: 0.8em;
  transition: color 0.2s;
}

.sort-indicator.active {
  color: #ffffff;
}