

/* Media Queries for Specific Breakpoints */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem; /* Smaller heading */
    }

    h2 {
        font-size: 1.5rem; /* Smaller subheading */
    }

    .modal-content-image {
        width: 100%; /* Full width for images in modal */
    }

    .btn {
        padding: 0.5rem; /* Adjust button padding */
    }

    /*TODO*/
    .bodySign {
        width: 100vw;
    }

    .signBox {
        width: 90vw;
    }

    .chatSidebar {
        width: 25vw;
    }

    .chatBody {
        width: 50vw;
    }

    .table {
        width: 30vw;
    }
}
