<template id="admin_temp">

    <div class="bodyChat" id="chat_div">

        <div class="chatadmin">

            <div class="chatHeader">
                <div class="profileName  chatHeader_admin" id="admin_name">ADMIN: </div>
            </div>



            <div class="chatBody style-14 overflow-auto" id="messages_in_chat">
                <div class="h2 titolo">TABELLA DEGLI UTENTI</div>
                <div class="search-bar">
                    <input id="searchInput" type="text" class="form-control" placeholder="Cerca per nome utente...">
                    <div class="sort-btns mt-2">
<!--                        <button class="btn btn-outline-light btn-sm" onclick="sortTable(0)">Ordina per Nome</button>-->
<!--                        <button class="btn btn-outline-light btn-sm" onclick="sortTable(1)">Ordina per Ruolo</button>-->
<!--                       <button class="btn btn-outline-light btn-sm" onclick="sortTable(2)">Ordina per Stato</button>-->
                    </div>
                </div>

                <table class="table text-white">
                    <thead>
                    <tr>
                        <th id="sortName">
                            <div class="th-content">
                                Nome Utente
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th id="sortRuolo">
                            <div class="th-content">
                                Ruolo
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th id="sortStato">
                            <div class="th-content">
                                Stato
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th>Banna</th>
                        <th>Sbanna</th>
                        <th>Promuovi</th>
                        <th>Declassa</th>
                    </tr>
                    </thead>

                    <tbody id="user_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>