<template id="admin_temp">

    <div class="bodyChat" id="chat_div">

        <div class="chatadmin">

            <div class="chatHeader">
                <div class="profileName  chatHeader_admin" id="admin_name">ADMIN: </div>
                <div class="top-bar">
                    <img src="../assets/7124045_logout_icon.svg" alt="logout" id="logout" class="logout-btn-admin">
                </div>
            </div>

            <div class="chatBody style-14 overflow-auto" id="messages_in_chat">
                <div class="h2 titolo">USERS' TABLE</div>
                <div class="search-bar">
                    <input id="searchInput" type="text" class="form-control" placeholder="Search username...">

                </div>

                <table class="table text-white">
                    <thead>
                    <tr>
                        <th id="sortName">
                            <div class="th-content">
                                Username
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th id="sortRuolo">
                            <div class="th-content">
                                Role
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th id="sortStato">
                            <div class="th-content">
                                State
                                <span class="sort-indicator">▼</span>
                            </div>
                        </th>
                        <th>Ban</th>
                        <th>Unban</th>
                        <th>Promote</th>
                        <th>Demote</th>
                    </tr>
                    </thead>

                    <tbody id="user_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>