<template id="admin_temp">

    <div class="bodyChat" id="chat_div">

        <div class="chatadmin">

            <div class="chatHeader">
                <div class="profileName">ADMIN: </div>
                <div class="profileName" id="user_name"></div>
            </div>

            <div class="chatBody style-14 overflow-auto" id="messages_in_chat">
                <div class="search-bar">
                    <input id="searchInput" type="text" class="form-control" placeholder="Cerca per nome utente...">
                    <div class="sort-btns mt-2">
                        <!--
                        <button class="btn btn-outline-light btn-sm" onclick="sortTable(0)">Ordina per Nome</button>
                           <button class="btn btn-outline-light btn-sm" onclick="sortTable(1)">Ordina per Ruolo</button>
                           <button class="btn btn-outline-light btn-sm" onclick="sortTable(2)">Ordina per Stato</button>
                         -->
                    </div>
                </div>

                <table class="table table-bordered text-white table-hover">
                    <thead>
                    <tr>
                        <th id="sortName">Nome Utente </th>
                        <th id="sortRuolo">Ruolo</th>
                        <th id="sortStato">Stato</th>
                        <th>Banna</th>
                        <th>Sbanna</th>
                        <th>Promuovi</th>
                        <th>Declassa</th>
                    </tr>
                    </thead>
                    <tbody id="user_list">
                    <tr>
                        <td>MarioRossi</td>
                        <td>Utente</td>
                        <td class="status-attivo">Attivo</td>
                        <td><button class="btn btn-ban">Banna</button></td>
                        <td><button class="btn btn-secondary" disabled>Sbanna</button></td>
                        <td><button class="btn btn-promote">Promuovi</button></td>
                        <td><button class="btn btn-demote">Declassa</button></td>
                    </tr>
                    <tr>
                        <td>SkibidiToilet</td>
                        <td>Moderatore</td>
                        <td class="status-attivo">Attivo</td>
                        <td><button class="btn btn-ban">Banna</button></td>
                        <td><button class="btn btn-secondary" disabled>Sbanna</button></td>
                        <td><button class="btn btn-promote">Promuovi</button></td>
                        <td><button class="btn btn-demote">Declassa</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

