<template id="register_temp">
    <!-- SIGNUP STUFF -->
    <div class="bodySign" id="signup_div">
        <h1>
            Welcome!
        </h1>
        <div class="signBox">
            <label for="username_reg">Username</label>
            <input type="text" id="username_reg" placeholder="Enter your username">
            <label for="email_reg">Email</label>
            <input type="email" id="email_reg" placeholder="Enter your email">
            <label for="password_reg">Password</label>
            <input type="password" id="password_reg" placeholder="Enter password" autocomplete="off">
            <label for="confirm_password_reg">Confirm password</label>
            <input type="password" id="confirm_password_reg" placeholder="Confirm password" autocomplete="off">
            <button type="button" id="register_button" class="buttonSign">
                Sign Up
            </button>
        </div>
        <div class="bottomBodySign">
            Already have an account?
            <button type="button" id="back_register_button" class="buttonSign">
                Sign In
            </button>
        </div>
    </div>
    <!-- SIGNUP STUFF -->
</template>