<template id="group_temp">
    <!-- GROUP STUFF -->
    <div class="bodySign bodyGroup" id="enterChat">
        <div class="signBox bodyBox">
            <h2>
                Join a Group!
            </h2>
            <label for="group_to_enter">Group Identifier</label>
            <input type="text" id="group_to_enter" placeholder="Enter the group identifier">
            <label for="group_password">Group Password</label>
            <input type="password" id="group_password" placeholder="Enter the group password" autocomplete="off">
            <button type="button" id="join_group" class="buttonSign">
                Join Group
            </button>
            <button type="button" id="back_group" class="buttonSign">
                Go back
            </button>
        </div>
        <div class="signBox bodyBox">
            <h2>
                Create a Group!
            </h2>
            <label for="group_to_create">Group Name</label>
            <input type="text" id="group_to_create" placeholder="Enter a group name">
            <label for="group_create_password">Group Password</label>
            <input type="password" id="group_create_password" placeholder="Enter a group password" autocomplete="off">
            <label for="group_create_image">Group Image</label>
            <input type="file" id="group_create_image" accept="image/*">
            <button type="button" id="create_group" class="buttonSign">
                Create Group
            </button>
        </div>
    </div>
    <!-- GROUP STUFF -->
</template>