<template id="login_temp">
    <!-- LOGIN STUFF -->
    <div class="bodySign" id="login_div">

        <h1>
            Welcome Back!
        </h1>
        <div class="signBox">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" autocomplete="off">
            <button type="button" class="buttonSign" id="login">
                Sign In
            </button>
        </div>
        <div class="bottomBodySign">
            Don't have an account yet?
            <button type="button" class="buttonSign margin-right" id="signup">
                Sign Up
            </button>
            Forgot your passoword?
            <button type="button" id="forgot" class="buttonSign">
                Click here
            </button>
        </div>
    </div>
    <!-- LOGIN STUFF -->
</template>
