<template id="mod_temp">
    
    <div class="bodyChat" id="chat_div">
        <div class="chatSidebar">
            <div class="chatSidebarHeader">
                <!--username e immagine del moderatore-->
                <img alt="profile pic" class="resize" id="pfp">
                <div class="profileName" id="user_name"></div>
            </div>
            <!-- lista chat (tutte)-->
            <div class="sidebarChatList scrollbarChat">
                <div class="sidebarChats">
                </div>
                <div id="chat_lists_mod">
                </div>
            </div>
        </div>

        <div class="chat">
            <div class="chatHeader">
                <img id="chat_picture" class="resize">
                <div class="profileName" id="chat_name_title">

                </div>
        
            </div>

    
            <div class="chatBody style-14 overflow-auto" id="messages_drugs">

            </div>
        </div>
    </div>


</template>